* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

@media (max-width: 991px) {
    header{
        display: none;
    }
        

    
}


/* START HEADER STYLES */
header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 28px;
    background-color: black;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.home-button {
    font-weight: 700;

}

.nav-right {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    list-style-type: none;
}

.nav-right ul {
    display: flex;
    gap: 25px;
}



.nav-links {
    display: flex;
    padding-left: 0;
    gap: 25px;
    list-style-type: none;

}

/* END HEADER STYLES */


.hero-image {
    /* margin: 0 auto; */
    position: relative
}

.hero-image img {

    display: flex;
    object-fit: contain;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 82px;


}


.hero-image h1 {
    /* display: flex; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    

}


@media (max-width: 1200px){
    .hero-image img{
        max-width: 100%;

    }

}




.date-flex{
    background-color: #D9D9D9;
    padding-left: 16px;
}





/* START OF AVAILABLE DATES */
.available-dates-flex{
    display: flex;
}




/* END OF AVAILABLE DATES */

/* START OF FOOTER*/

footer{
    
    display: flex;
    background-color: black;
    color: white;


}





/* END OF FOOTER */



@media (max-width: 1024px){
   footer{
    flex-direction: column;
    align-items: center;
    
}


}